In [ ]:
문1) 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

자동차번호 = '10라 3709'

In [26]:
자동차번호 = '10라 3709'
print(자동차번호[4:8])

3709

In [ ]:
문2) 아래의 문자열에서 '홀' 이 몇개 있는지 출력하세요.

문자열 = '짝홀짝홀짝홀짝홀짝'

In [60]:
문자열 = '짝홀짝홀짝홀짝홀짝'
print(문자열.count('홀'))

4

In [ ]:
문3) 변수에 다음과 같이 문자열과 정수를 이용하여 출력 예시와 같이 formatting 하여 출력하세요.

출력 대상
이름1 = '아이유'
나이1 = 25
이름2 = "서태지"
나이2 = 48
formatting 예시) 이름: 홍길동 나이: 16

In [59]:
이름1 = '아이유'
나이1 = 25
이름2 = "서태지"
나이2 = 48

print("이름: {} 나이: {}".format(이름1, 나이1))
print("이름: {} 나이: {}".format(이름2, 나이2))

이름: 아이유 나이: 25
이름: 서태지 나이: 48

In [ ]:
문4) 다음 리스트에는 4개의 영화 제목이 입력되어있습니다. "슈퍼맨"는 몇번째 위치(인덱스)에 있는지 출력하세요.

영화 = ['스파이더맨', '배트맨', '슈퍼맨', '원펀맨']

In [28]:
영화 = ['스파이더맨', '배트맨', '슈퍼맨', '원펀맨']

print(영화[2])

슈퍼맨

In [ ]:
문5) 다음 리스트에서 문자열의 길이가 가장 긴 문자열을 찾아 출력하세요.

리스트 = ["쌈장", "불고기", "삼겹살", "된장", "간고등어"]

In [58]:
리스트 = ["쌈장", "불고기", "삼겹살", "된장", "간고등어"]

가장긴문자열 = 리스트[0]          
for 항목 in 리스트[1:]:             
    if len(항목) > len(가장긴문자열):
        가장긴문자열 = 항목        

print(가장긴문자열)

간고등어

In [ ]:
문6) 다음 이름과 가격을 딕셔너리 자료형으로 담아서 출력하세요.

이름	가격
메로나	1000
폴라포	1200
투게더	4000

In [50]:
아이스크림 = {
    "메로나": 1000,
    "폴라포": 1200,
    "투게더": 4000
}

print(아이스크림)

{'메로나': 1000, '폴라포': 1200, '투게더': 4000}

In [ ]:
문7) 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

입력 > 숫자를 입력하세요: 30
출력 > 40

In [39]:
입력=input("숫자를 입력하세요")
결과=(int(입력)+10)
print(결과)

20

In [ ]:
문8) 다음 코드를 for문으로 변경하여 출력하세요.

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

In [51]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [ ]:
문9) 리스트에는 네 개의 문자열이 있습니다. for문을 사용해서 다음과 같이 출력하세요.

리스트 데이터
["가", "나", "다", "라"]
출력
cmd
나
다
라

In [52]:
리스트 = ["가", "나", "다", "라"]

for 문자 in 리스트[1:]:
    print(문자)

나
다
라

In [ ]:
문10) 다음 "비트코인" 문자열을 10번 화면에 출력하는 함수를 정의하세요.

출력
cmd
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [57]:
def 출력하기():
    for _ in range(10):
        print("비트코인")

출력하기()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인